@font-face{font-family:GraphikCompact;font-weight:400;src:url(../public/fonts/GraphikCompact-Regular-Web.woff?v=21) format("woff")}@font-face{font-family:GraphikCompact;font-weight:600;src:url(../public/fonts/GraphikCompact-Semibold-Web.woff?v=21) format("woff")}@font-face{font-family:GraphikCondensed;font-weight:600;src:url(../public/fonts/GraphikCondensed-Semibold-Web.woff?v=21) format("woff")}@font-face{font-family:GraphikCondensed;font-weight:700;src:url(../public/fonts/GraphikCondensed-Bold-Web.woff?v=21) format("woff")}

body {
  font-family: 'GraphikCompact' !important;
}

.ant-layout {
  background: transparent!important;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#sentence {
  margin-top: 20px;
  width: 90%;
}

.hide {
  display:none;
}

.content form {
  width: 90%;
}

.App-link {
  color: #000f2b;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.ant-radio-button-wrapper  {
  height: auto !important;
}



.ant-card-body {
  padding: 24px;
  zoom: 1;
  padding-bottom: 0px !important;
}

#root > div > div:nth-child(1) > div > div:nth-child(6) > div > div > label{
  margin-bottom: 25px !important;
}

.ant-modal-close {
  display: none !important;
}

.ant-radio-button-wrapper:hover {
  position: relative;
  color: rgba(0, 0, 0, 0.65) !important;
}
